@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e9ecef;
}

header{
    display: flex;
    justify-content: flex-end;
    background-color: #7f5539;
    padding: 10px;
    font-size: 30px;
    color: #ede0d4;
}
header i{
    color: #caf0f8;
}
.input{
    display: flex;
    flex-direction: column;
    background-color: #e6ccb2;
    height: 100%;
    width: 450px;
    padding-left: 15px;
    gap: 40px;
    padding-top: 50px;
}
.form-input{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #001d3d;
    font-size: 20px;
    font-weight: bold;
}

input[type=text], [type=number]{
    padding: 2px;
    background-color: #e6ccb2;
    border: none;
    border-bottom: 1px solid #7f5539;
    color: #001d3d;
    outline: none;
    font-size: 20px;
}

.submit-book{
    display: flex;
    justify-content: center;
}
input[type=submit]{
    width: 50%;
    background-color: #ddb892;
    border: none;
    padding: 10px;
}
input[type=submit]:hover{
    background-color: #cb997e;
}
input[type=submit]:active{
    background-color: #b08968;
}
.checkbox{
    width: 30px;
    height: 30px;
}
.card-wrapper{
    padding: 10px 40px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 #7f5539;
    transition: 0.3s;
    padding: 20px;
    height: 300px;
    width: 250px;
    background-color: 	#f2dcb1;
}
.card:hover {
    box-shadow: 0 8px 16px 0 #5b3d29;
}
.title{
    text-decoration: underline;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    word-break: break-word;
    
}
.card-button{
    display: flex;
    gap: 8px;
}
#readToggle{
    border: 1px solid #f2dcb1;
}
#readToggle:hover{
    border: 1px solid #5b3d29;
}
#delete{
    padding: 0px 20px;
    background-color: #be8f3c;
    border-color: #be8f3c;
    border: none;
}
#delete:hover{
    border: 1px solid #5b3d29;
}




.on{
    padding: 10px 30px;
    background-color: #dc8920;
}
.off{
    padding: 10px 14px;
    background-color: #be8f3c;
}




.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}


.modal-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 4px 4px 8px black;
    width: 80%;
    background-color: rgb(243, 211, 169);
    margin: 5% auto;
}
.modal-content p{
    margin-top: 30px;
    font-size: 35px;
}
.yes-no button{
    padding: 10px 30px;
    margin: 30px;
}
#yes{
    background-color: limegreen;
    border: none;
}
#yes:hover{
    background-color:rgb(42, 168, 42);
}
#yes:active{
    background-color: rgb(30, 122, 30);
}
#no{
    background-color: red;
    border: none;
    padding: 10px 32px;
}
#no:hover{
    background-color: rgb(230, 0, 0);
}
#no:active{
    background-color: rgb(185, 0, 0);
}




.content-wrapper{
    display: flex;
}







.flex-wrapper{
    display: flex;
    flex: 1 0 auto;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #7f5539;
    color: #ede0d4;
}
@keyframes spin{
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
.rotate{
    transition: transform 1s;
    padding-left: 5px;
}
.rotate:hover{
    transform: rotate(360deg);
}
.footer i{
    text-decoration: none;
    color: #fcd5ce;
    transition: font-size 1s, padding-left 1s;
    font-size: 18px;
}
.footer i:hover {
    font-size: 26px;
    padding-left: 8px;
}