@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e9ecef;
}

header{
    display: flex;
    justify-content: flex-end;
    background-color: #7f5539;
    padding: 10px;
    font-size: 30px;
    color: #ede0d4;
}
header i{
    color: #caf0f8;
}
.input{
    display: flex;
    flex-direction: column;
    background-color: #e6ccb2;
    height: 100%;
    width: 450px;
    padding-left: 15px;
    gap: 40px;
    padding-top: 50px;
}
.form-input{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #001d3d;
    font-size: 20px;
    font-weight: bold;
}

input[type=text], [type=number]{
    padding: 2px;
    background-color: #e6ccb2;
    border: none;
    border-bottom: 1px solid #7f5539;
    color: #001d3d;
    outline: none;
}

.submit-book{
    display: flex;
    justify-content: center;
}
input[type=button]{
    width: 50%;
    background-color: #ddb892;
    border: none;
    padding: 10px;
}
input[type=button]:hover{
    background-color: #cb997e;
}
input[type=button]:active{
    background-color: #b08968;
}
.checkbox{
    width: 30px;
    height: 30px;
}




.content-wrapper{
    display: flex;

}







.flex-wrapper{
    display: flex;
    flex: 1 0 auto;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #7f5539;
    color: #ede0d4;
}
@keyframes spin{
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
.rotate{
    transition: transform 1s;
    padding-left: 5px;
}
.rotate:hover{
    transform: rotate(360deg);
}
.footer i{
    text-decoration: none;
    color: #fcd5ce;
    transition: font-size 1s, padding-left 1s;
    font-size: 18px;
}
.footer i:hover {
    font-size: 26px;
    padding-left: 8px;
}